* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.05em;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

#playerSelection, #compSelection {
  height: 30vh;
}

#topHalf {
  height: 50vh;
  background: rgb(255, 222, 161);
}

.comp {
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

#compSelection {
  transform: rotate(180deg);
}

#reset {
  width: 100px;
  align-self: flex-end;
  margin-top: 0;
  margin-bottom: auto;
}

#bottomHalf {
  height: 50vh;
  background: rgb(161, 255, 169);
}

#playerSelection {
  margin-top: 0;
  margin-bottom: auto;
}

.buttons {
  height: 100%;
  justify-content: flex-end;
  align-items:center;
  gap: 4px;
}

.buttons > button {
  padding: 5px;
  width: 150px;
}

