* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

#topHalf {
  height: 50vh;
  background: rgb(255, 222, 161);
}

#bottomHalf {
  height: 50vh;
  background: rgb(161, 255, 169);
}